body {
    background-color: #fff;
    font-family: 'Montserrat';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
}
 
img {
    width: 300px;
    filter: url(#glitchshadow);
    /* background: #000; */
}
 